@import "/styles/variables.scss";

.card {
  display:flex;
  margin-bottom: 5.1875rem;


  .block{
    display: flex;
    flex-direction: column;
    text-align: start;

    .title{
      font-weight:600
    }

    .desc{
      max-width:50vw;
      
      p{
        font-size: 28px;
      }
    }

  }
  
 

  
}
